@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* 
  mobile breakpoint sm 600px
  mobile breakpoint md 1000px
*/

:root {
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-info-dark: #7D8DA1;
  --color-dark: #363949;

  --color-text: #202528;
  --color-text-alternative: #404548;
  --color-background: #dddddd;
  --color-background-alternative: #ffffff;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --background-image: url('background-light.jpg');
  --background-filter: brightness(120%);

  --card-width: 100%;
}

body {
  min-height: 100vh;
  background: var(--background-image) no-repeat;
  background-color: var(--color-background);
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  /* -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter); */
  font-weight: 200;
}

body a, body a:visited, body a:hover {
  color: var(--color-text);
}

.dark-mode {
  --color-text: #eeeeee;
  --color-text-alternative: #ffffff;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: #181a1e;
  --color-background-alternative: #000000;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --background-image: url('background-dark.jpg');
  --background-filter: brightness(50%);
  background-color: var(--color-background);
}

header {
  width: 100%;
  padding: 1rem 5rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 3fr auto 2fr;
  z-index: 99;
  font-weight: 200;
  /* background-color: var(--color-background); */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow);
}

header > .logo {
  font-size: 2rem;
  color: var(--color-text);
  user-select: none;
}

header > .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .navigation a {
  position: relative;
  font-size: 1.1rem;
  color: var(--color-text);
  text-decoration: none;
  margin-left: 2rem;
}

header > .navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header .toggle {
  color: var(--color-text);
}

@media screen and (min-width: 1000px) {  
  header > .navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: var(--color-text);
    border-radius: 0.5rem;
    left: 0;
    bottom: -0.3rem;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
  }
  
  header .toggle {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header {
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }
  header .navigation {
    position: fixed;
    color: var(--color-text);
    background-color: var(--color-background);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    /* left: -100%; */
    display: none;
    animation: showMenu 0.4s ease forwards;
    padding: 1rem 2rem;
  }

  header > .navigation a::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 0.2rem;
    background: var(--color-text);
    border-radius: 0.5rem;
    left: 0;
    bottom: -0.3rem;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
  }

  header .navigation.visible {
    display: inline;
  }
  header .logo {
    margin-left: 1rem;
  }
  /* header .logo h2 {
    display: inline;
  } */
  header .navigation a {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
  }

  header button.toggle {
    width: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}

@keyframes showMenu {
  to {
    left: 0;
  }
}

header > .selectors {
  display: flex;
  align-items: center;
  justify-content: end;
}

header .btn {
  margin-left: 2rem;;
}

/* WRAPPER DIVISION */
.app-wrapper {
  /* position: relative;
  width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

/* MAIN DIVISION */
.main {
  margin-top: 4rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 4rem 2rem;
  width: 80%;
  border: 0.2rem solid var(--color-text);
  border-radius: var(--card-border-radius);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 600px) {  
  .main {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 99%;
  }
}

/* --------------- */
/* -- COMPONENTS --*/
/* --------------- */

/* HOME COMPONENT */
.home-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1000px) {  
  .home-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* .home-wrapper > .logo {
  padding-right: 1rem;
} */
.home-wrapper .logo .logo-section {
  border-radius: var(--card-border-radius);
  background-color: black;
}
.home-wrapper > .description {
  padding-left: 1rem;
}

/* SKILLS COMPONENT */
.skills-container { padding: 3rem 0; }
.skill-container { margin-top: 3rem; }

.skill-container > .skill-row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.skill-row > .name {
  font-weight: 400;
  margin-left: 0.5rem;
}

.skill-row > .logo > img {
  width: 60px;
}

.skill-level {
  margin-left: 60px;
  border: 1px solid #ccc;
  height: 24px;
  width: 100%;
  border-radius: var(--border-radius-1);
  overflow: hidden;
}

.skill-level > .skill-level-bar {
  background-color: rgba(150, 155, 155, 0.3);
  height: 100%;
  border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
}

.skill-level > .skill-level-bar.level-10 { width: 10%; }
.skill-level > .skill-level-bar.level-20 { width: 20%; }
.skill-level > .skill-level-bar.level-30 { width: 30%; }
.skill-level > .skill-level-bar.level-40 { width: 40%; }
.skill-level > .skill-level-bar.level-50 { width: 50%; }
.skill-level > .skill-level-bar.level-60 { width: 60%; }
.skill-level > .skill-level-bar.level-70 { width: 70%; }
.skill-level > .skill-level-bar.level-80 { width: 80%; }
.skill-level > .skill-level-bar.level-90 { width: 90%; }
.skill-level > .skill-level-bar.level-100 { width: 100%; }


/* PROJECT COMPONENT */
/* .projects-wrapper { width: 950px; } */

.projects-container { 
  padding: 3rem 0;
  /* display: flex;
  justify-content: start;
  align-items: center; */
}

.project-card { 
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  width: var(--card-width);
  width: 100%;
  /* border-left: solid 0.5rem red;
  border-radius: 0.2rem; */
}
@media screen and (max-width: 800px) {
  .project-card { 
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 4rem;
  }
}

.project-card > .project-logo {
  padding: 0.5rem 1rem 0.3rem;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: var(--border-radius-2);
  margin: auto;
}

.project-card > .project-logo > img {
  width: 200px;
}

.project-card > .project-text > .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-card > .project-text > .title > .name {
  font-weight: bold;
  margin-right: 2rem;
}

.project-card > .project-text > .title > .date {
  color: #7D8DA1;
}



/* CONTACT COMPONENT */
.contacts-wrapper { width: 500px; }

.contacts-container { 
  padding: 3rem 0;
}

.contacts-container > ul {
  list-style: none; /* Remove default bullets */
}

.contacts-container > ul > li {
  margin-bottom: 1rem;
}

ul li::before {
  content: "👉 ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


/* FOOTER */
footer {
  font-weight: 100;
  margin-top: 5rem;
}

footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--color-text)
}

/* GENERIC CLASS */
.btn {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--color-text);
  outline: none;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--color-text);
  transition: 0.5s;
}

.btn:hover {
  color: var(--color-text-alternative);
  background: var(--color-background-alternative);
}

.btn.selected {
  color: var(--color-text-alternative);
  background: var(--color-background-alternative);
}




/*  ----- MOBILE -----  */
@media (min-width:600px) {
  :root {
    --card-width: 50%;
  }
}


/*  ----- RESPONSIVE -----  */
